{% extends "layout.html" %}
{% block title %}Visualization of Viral Proteome - Taxonomy{% endblock %}
{% block header %}Viral Taxonomy Distribution{% endblock %}
{% block content %}
<div class="chartWrapper-viral-taxonomy" id="taxonomy-distribution">
    <div style="text-align: center">
        <div class="btn-toolbar mb-2 mb-md-0">
            <div style="margin: auto">
                <button id="select-all" class="btn btn-sm btn-outline-secondary">Select All</button>
                <button id="deselect-all" class="btn btn-sm btn-outline-secondary">Deselect All</button>
                <button id="reset" class="btn btn-sm btn-outline-secondary">Reset</button>
            </div>
        </div>
        <div id="family-chart" class="hidden">
            <h3 id="family-chart-header"></h3>
            <form action="javascript:;" onsubmit="addFamily(family.value)">
                <div class="form-group" style="width:50%;margin:auto">
                    <label for="families">Choose a family to add it to the displayed distribution:</label>
                    <select name="family" id="family" class="form-control">
                    </select>
                    <input type="submit" value="Submit" class="btn btn-sm btn-outline-secondary">
                    <input type="submit" formaction="javascript:addAllFamilies()" value="Display All Families" class="btn btn-sm btn-outline-secondary">
                </div>
            </form>
        </div>
    </div>
    <div class="chartAreaWrapper-viral-taxonomy">
        <div class="chartAreaWrapper2-viral-taxonomy">
            <canvas id="myChart-viral-taxonomy"></canvas>
        </div>
    </div>
    <canvas id="myChartAxis-viral-taxonomy" height="10" width="0"></canvas>
</div>

<div id="table-section" class="hidden">
    <h2 id="viral-list">Viral Protein List</h2>
    <table id="taxTable" class="display" style="width:100%"></table>
</div>
{% endblock %}

{% block script %}
$('document').ready(function(){
    drawPieTaxonomy(); 
    buildHtmlTable('#taxTable');
});
$('#select-all').on('click', function(){
    viralTaxSelectAll(); 
});
$('#deselect-all').on('click', function(){
    viralTaxDeselectAll(); 
});
$('#reset').on('click', function(){
    viralTaxReset(); 
});
{% endblock %}
