{% extends "layout.html" %}
{% block title %}Visualization of Viral Proteome - Taxonomy{% endblock %}
{% block header %}Viral Taxonomy Distribution{% endblock %}
{% block content %}
            <div class="chartWrapper-viral-taxonomy" id="taxonomy-distribution">
              <button id="viral-taxonomy-play" class="btn btn-success"><i class="fas fa-play"></i> Draw</button>
              <div class="chartAreaWrapper-viral-taxonomy">
                <div class="chartAreaWrapper2-viral-taxonomy">
                  <canvas id="myChart-viral-taxonomy"></canvas>
                </div>
              </div>
              <canvas id="myChartAxis-viral-taxonomy" height="10" width="0"></canvas>
            </div>

            <h2>Virolog List</h2>
            <table id="taxTable" class="display" style="width:100%">
            </table>
{% endblock %}

{% block script %}
    $('#viral-taxonomy-play').on('click', function(){
      drawPieTaxonomy(); 
      buildHtmlTable('#taxTable');
    });
{% endblock %}
