#taxonomy-distribution{
    margin-top: 20px;
    overflow-y: scroll;
}

#viral-taxonomy-play{
    
}
.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    /*width: 600px;*/
    overflow-x: scroll;
}

#cleavagechart{
    overflow-y: scroll;
}

#pvalue-restrictor{
    text-align: center;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

