{% extends "layout.html" %}
{% block title %}ViroLog Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}
{% block content %}
    <div class="dashboard">
      <div class="dashcontainer">
        <div class="dashblock">
          <a href="">Mito-Virologs</a>
        </div>
      </div>
      <div class="dashcontainer">
        <div class="dashblock">
          <a href="">Virologs</a>
        </div>
      </div>
      <div class="dashcontainer">
        <div class="dashblock">
          <a href="">Gene Expression-Virologs</a>
        </div>
      </div>
      <div class="dashcontainer">
        <div class="dashblock">
          <a href="">Word++</a>
        </div>
      </div>
      <div class="dashcontainer">
        <div class="dashblock">
          <a href="">Viral Taxonomy Distribution</a>
        </div>
      </div>
      <div class="dashcontainer">
        <div class="dashblock">
          <a href="">Retrieve Data</a>
        </div>
      </div>
    </div>
{% endblock %}