<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- MDBootstrap Datatables CSS -->    
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dashboard.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/layout.css')}}">
    </head>

    <body>

        <div class="container-fluid">
            <div class="sidebar">
                <div class="logo">
                    <a href="/">ViralAnalysis</a>
                </div>
                <nav class="navigation">
                    <ul class="mainmenu">
                        <li><a href="/">Mito-ViroLogs</a>
                            <ul class="submenu">
                                <li><a href="cleavagesites">Cleavage Sites</a></li>
                                <li><a href="presequenceprobability">Probability Presequence</a></li>
                            </ul>
                        </li>
                        <li><a href="/">ViroLogs</a></li>
                        <li><a href="/">Gene Expression-ViroLogs</a></li>
                        <li><a href="/">Word++</a></li>
                        <li><a href="virusTaxonomy">Viral Taxonomy Distribution</a></li>
                        <li><a href="/">Retrieve Data</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <main role="main" class="maincontent">
            <div class="border-bottom">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">

                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Share</button>
                            <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                    </div>
                </div>
                <h1 class="h2">{% block header %}{% endblock %}</h1>
            </div>

            {% block content %}
            {% endblock %}

        </main>

        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous">
        </script>

        <!-- MDBootstrap Datatables  -->
        <script type="text/javascript" src="{{url_for('static',filename='js/datatables.min.js')}}"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>

        <!-- Graphs -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.1"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>

        <script>
            {% block script %}{% endblock %}
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </body>
</html>