.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    overflow-x: scroll;
}

#cleavagechart{
    background: #ffd;
    overflow-y: scroll;
}

#pvalue-restrictor{
    text-align: center;
}

